.header{
    height: 100px;
    background-color: red;
    display: flex;
    flex-direction: row;
}
.logo{
    width: 100px;
    height: 100px;
}

.logoD{
    display: flex;
    flex-direction: row;
}