@font-face { font-family: "Matimo-Black"; src: url("../../fonts/matimo-black.ttf"); }
@font-face { font-family: "Square-bold"; src: url("../../fonts/square-bold.otf"); }


.header{
    height: 70px;
    background-color: #293133;;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.logoD{
    margin: auto;
}
.logo{
    height: 70px;
    align-items: center;
}

.link_logo{
    display: flex;
    flex-direction: row;
    font-family: "Matimo-Black";
    color: #78DBE2;
    align-items: center;
    text-decoration: none;
}

.link_text{
    margin-top: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: #B5B8B1;
}

main{
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    /* height: 100%; */
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Square-bold";
    
}

.LabelBlock{
    font-size: 10pt;
    width: 702px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media screen and (max-width: 425px) {

    #Up{
        width: 300px;
        height: 240px;
    }
    #Down{
        width: 300px;
        height: 240px;
    }

    .imgBlock{
        width: 300px;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    
}

@media screen and (max-width: 553px) {
    .linkBlock{
        max-width: 350px;
    }
    #schem{
        width: 300px;
        height: 300px;
    }

    .link1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


.text{
    font-family: "Square-bold";
    font-size: 10pt;
    color: #293133;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discript{
    background-color: #A8E4A0;
}

.schem{
    margin-top: 30px;
    background-color: #6A5ACD;
}

.pcb{
    margin-top: 30px;
    background-color: #E32636;
}

.linkBlock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.link1{
    margin-right: 10px;
}

.link{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Square-bold";
    font-size: 10pt;
    min-width: 200px;
    min-height: 35px;
    border-radius: 35px;
    background-color: #f9dbbd;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    color: black;
}